p{
    color: rgb(20, 1, 1);
    font:small;
}
h1{
    color: rgb(190, 72, 117);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
title{ 
    color: rgb(41, 59, 41);
}
#green-bordred{
    border:5px dashed rgb(154, 34, 190);
}
.tittle{
    color: black;
}
h3{
    color: black;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    text-shadow: 0cap;
}
#yt-bordred{
    border:2px solid white;
}
#pt-bordred{
    border: 2px solid white;
}
#ot-bordred{
    border: 2px solid white;
}
#rt-bordred{
    border: 2px solid white;
}
#wt-bordred{
    border: 2px solid white;
}
::first-line{
    letter-spacing: 4px;
    word-spacing: 4px;
}
div{
    height: 150px;
    width: 90%;
}
.box{
    border: none;
}


